# Environment variables
.env
.env.local

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
.venv/
venv/
ENV/
env/

# IDE settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
